Debug/Lab4.log
Debug/Lab4.tlog/cl.command.1.tlog
Debug/Lab4.tlog/CL.read.1.tlog
Debug/Lab4.tlog/CL.write.1.tlog
Debug/Lab4.tlog/Lab4.lastbuildstate
Debug/Lab4.tlog/unsuccessfulbuild
Debug/vc120.idb
Debug/vc120.pdb
Lab4.opensdf
Lab4.sdf
Lab4.sln
Lab4.v12.suo
Lab4.vcxproj.filters
Lab4.vcxproj